<!DOCTYPE html>
<html>
<head>
  <title>Beauty Spot Booking System - Information</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <style>
    body {
      background-color: pink;
      font-family: cursive;
    }
    .container {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      background-color: pink;
      color: black;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: pink;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-5">Beauty Spot Booking System - Information</h1>

    <h2 class="mt-5">Cosmetic Services and Prices</h2>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
        <tr>
          <td>{{ service[0] }}</td>
          <td>{{ service[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
